In [1]:
import pandas as pd 
import seaborn as sns

In [2]:
df = sns.load_dataset("titanic")

In [ ]:
# apply satın veya sutünlarda fonksiyon çalıştımamıza olanak sağlar. 
# Lambda ise tek satırda fonksiyon tanımlama işine yardım eder.

In [7]:
df["age2"] = df["age"] * 2
df["age3"] = df["age"] * 3

In [9]:
# Şimdi işlemleri bir döngü yardımıyla bir de apply&lambda yardımıyla çözelim:

for col in df.columns:
    if "age" in col:
        print(df[col])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64
0      44.0
1      76.0
2      52.0
3      70.0
4      70.0
       ...
886    54.0
887    38.0
888     NaN
889    52.0
890    64.0
Name: age2, Length: 891, dtype: float64
0       66.0
1      114.0
2       78.0
3      105.0
4      105.0
       ...
886     81.0
887     57.0
888      NaN
889     78.0
890     96.0
Name: age3, Length: 891, dtype: float64

In [10]:
# yukarıdaki metot, for kullanılarak yazılmış metottur. 
# Buna şimdi 'apply' and 'lambda' ekleyerek devam edelim....

df[["age","age2","age3"]].apply(lambda x : x/10).head()

# Burada tek satırda işlemi hallettim.

   age  age2  age3
0  2.2   4.4   6.6
1  3.8   7.6  11.4
2  2.6   5.2   7.8
3  3.5   7.0  10.5
4  3.5   7.0  10.5

In [ ]:
# apply fonksiyonu bir döngü yazmadan değişkenlerde gezme fırsatı sağlıyor. 
# apply sadece lambda fonksiyonunu değil bununla birlikte, normal bir fonksiyonu da çalıştırmaya olanak sağlar.