In [1]:
import numpy as np
import pandas as pd

In [9]:
m = np.random.randint(1,30, size=(5,3))
df1 = pd.DataFrame(m, columns=["var1", "var2", "var3"])
df2 = df1 + 99

print(df1)

   var1  var2  var3
0     9    27    14
1    17    20    10
2    29    28    11
3    19    16    12
4    11    23    22

In [10]:
print(df2)

   var1  var2  var3
0   108   126   113
1   116   119   109
2   128   127   110
3   118   115   111
4   110   122   121

In [14]:
# birleştirmek için pandas kütüphanesinden concat ifadesini çağırabilirizzzzz.
# ignore_index= True ifadesini yaparak buradaki index bilgilerini 0'dan sonuna kadar gidecek şekilde yapmış oluruz


pd.concat([df1, df2], ignore_index=True)

   var1  var2  var3
0     9    27    14
1    17    20    10
2    29    28    11
3    19    16    12
4    11    23    22
5   108   126   113
6   116   119   109
7   128   127   110
8   118   115   111
9   110   122   121

In [ ]:
# Merge ile birleştirme işlemleri:

In [15]:
series = pd.Series([1,2,3])

series ** 2

0    1
1    4
2    9
dtype: int64

In [17]:
dict = {"paris:" : [10], "berlin:" : [20]}
pd.DataFrame(dict)

   paris:  berlin:
0      10       20